### [과제 및 복습]

    * csv 데이터 파일 읽어와서 Series, DataFrame 속성 읽기, 속성 변경
    * 원소 읽기, 원소값 변경

(1) 모듈 로딩 --------------------------------

In [1]:
from pandas import DataFrame, read_csv

(2) 데이터 파일 준비 -------------------------------

In [2]:
dataFile='../DATA/movies.csv'

(3) 데이터 저장 ---------------------------------

In [3]:
movieDF = read_csv(dataFile)

In [4]:
movieDF

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

(4) DataFrame의 속성들 출력

In [17]:
movieDF.index, movieDF.columns, movieDF.values, movieDF.shape, movieDF.ndim, movieDF.dtypes

(RangeIndex(start=0, stop=782, step=1),
 Index(['Rank', 'Title', 'Studio', 'Gross', 'Year'], dtype='object'),
 array([[1, 'Avengers: Endgame', 'Buena Vista', '$2,796.30 ', 2019],
        [2, 'Avatar', 'Fox', '$2,789.70 ', 2009],
        [3, 'Titanic', 'Paramount', '$2,187.50 ', 1997],
        ...,
        [780, 'Cats & Dogs', 'Warner Brothers', '$200.70 ', 2001],
        [781, 'The Hunt for Red October', 'Paramount', '$200.50 ', 1990],
        [782, 'Valkyrie', 'MGM', '$200.30 ', 2008]], dtype=object),
 (782, 5),
 2,
 Rank       int64
 Title     object
 Studio    object
 Gross     object
 Year       int64
 dtype: object)

(5) DataFrame의 컬럼별로 따로 저장하기

In [21]:
col = 

for i in movieDF.columns:
        i.append()

NameError: name 'movie' is not defined

(6) 컬럼별 데이터들의 속성 즉, index, values, shape, ndim, dtype 정보 출력

(7) 컬럼별 인덱스를 변경 실습

(8) 컬럼별 데이터 즉 값 변경

(9) DataFrame의 원소들 모두 출력 단, 2가지 방법 사용