## [ DataFrame 인덱스  다루기 ]

- (1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

-(2) 데이터 준비 <hr>

In [2]:
#dict 타입의 데이터 생성
exam = { '이름':['마징가','배트맨','슈퍼맨','그린랜턴'],
         '국어':[100,99,88,77],
         '미술':[44,55,66,77],
         '수학':[55,44,66,22],
         '체육':[11,22,33,44]}

-(3) 데이터 저장

In [3]:
examDF=pd.DataFrame(exam)

-(4) 데이터 확인

In [4]:
examDF

     이름   국어  미술  수학  체육
0   마징가  100  44  55  11
1   배트맨   99  55  44  22
2   슈퍼맨   88  66  66  33
3  그린랜턴   77  77  22  44

-  (5)  새로운 인덱스 설정  : 컬럼 ==> 인덱스 설정 - 방법 1 : 인덱스 일부 변경 DF.rename()

In [5]:
# 행 인덱스 일부 변경 => {기존 인덱스 : 새로운 인덱스}
# inplace 매개변수/파라미터 => 원본 DataFrame에 변경 여부 결정, 기본은 원본 변경 안함 False!!
examDF.rename(index = {0:'Zero'}, inplace=True)

In [6]:
examDF

        이름   국어  미술  수학  체육
Zero   마징가  100  44  55  11
1      배트맨   99  55  44  22
2      슈퍼맨   88  66  66  33
3     그린랜턴   77  77  22  44

In [7]:
# 열 이름 인덱스 일부 변경 => column={기존인덱스:새로운인덱스}
examDF.rename(columns={'체육':'음악'}, inplace=True)

In [8]:
examDF

        이름   국어  미술  수학  음악
Zero   마징가  100  44  55  11
1      배트맨   99  55  44  22
2      슈퍼맨   88  66  66  33
3     그린랜턴   77  77  22  44

-  (5)  새로운 인덱스 설정  : 컬럼 ==> 인덱스 설정 - 방법 2 : 특정 컬럼 => 인덱스 :

In [13]:
# 현재 기본 0 ~ ==> 이름 컬럼
examDF.index

Index(['Zero', 1, 2, 3], dtype='object')

In [10]:
# 1개 컬럼을 인덱스로 설정 단,

In [18]:
# 2개 컬럼을 행 인덱스 설정 단 ,inplace 파라메터가 False로 원본에 적용 안됨!
examDF.set_index(['이름', '국어','음악'])

             미술  수학
이름   국어  음악
마징가  100 11  44  55
배트맨  99  22  55  44
슈퍼맨  88  33  66  66
그린랜턴 77  44  77  22

In [12]:
examDF

        이름   국어  미술  수학  음악
Zero   마징가  100  44  55  11
1      배트맨   99  55  44  22
2      슈퍼맨   88  66  66  33
3     그린랜턴   77  77  22  44