## [ DataFrame 인덱스  다루기 ]

- (1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

-(2) 데이터 준비 <hr>

In [7]:
#dict 타입의 데이터 생성
exam = { '이름':['마징가','배트맨','슈퍼맨','그린랜턴'],
         '국어':[100,99,88,57],
         '미술':[44,55,66,75],
         '수학':[77,44,66,22],
         '체육':[77,22,33,44]}

-(3) 데이터 저장

In [8]:
examDF=pd.DataFrame(exam)

-(4) 데이터 확인

In [10]:
examDF

     이름   국어  미술  수학  체육
0   마징가  100  44  77  77
1   배트맨   99  55  44  22
2   슈퍼맨   88  66  66  33
3  그린랜턴   57  75  22  44

-행 데이터 추가

In [ ]:
#마징가 100 44 77 77
examDF.loc[4] = ['마징가',100,50,60,77]

In [ ]:
examDF.loc[5] = ['마징가', 100,87,77,87]

In [13]:
examDF

     이름   국어  미술  수학  체육
0   마징가  100  44  77  77
1   배트맨   99  55  44  22
2   슈퍼맨   88  66  66  33
3  그린랜턴   57  75  22  44
4   마징가  100  50  60  77
5   마징가  100  87  77  87

-  (5)  새로운 인덱스 설정 - 방법3 : 멀티인덱스 제어 DF.set_index([컬럼1, 컬럼2, ...,컬럼n])

In [14]:
#인덱스 속성 확인
examDF1.index

NameError: name 'examDF1' is not defined

- 행 데이터 선택 : DF객체변수명.loc.[행레이블/DF객체변수면

In [ ]:
# 행 인덱스 일부 변경 => {기존 인덱스 : 새로운 
-j

- 멀티 인덱스의 인덱스의 일부분을 기주능로 행 선택 : xs

In [5]:
인덱스}
# inplace 매개변수/파라미터 => 원본 DataFrame에 변경 여부 결정, 기본은 원본 변경 안함 False!!
examDF.rename(index = {0:'Zero'}, inplace=True)

In [6]:
examDF

        이름   국어  미술  수학  체육
Zero   마징가  100  44  55  11
1      배트맨   99  55  44  22
2      슈퍼맨   88  66  66  33
3     그린랜턴   77  77  22  44

-('마징가',98,77),('그린랜턴',100,72) 2개 행을 한꺼번에 가져오기

In [16]:
examDF1.loc[[('마징가',98,77),('그린랜턴',100,72)]]

NameError: name 'examDF1' is not defined

- (5) 인덱스 재배치 : 행/열 인덱스를 원하는 순서대로 재배치 + 존재하지 않는 행/열 추가
    * DF.reindex()

In [17]:
print(examDF.index, examDF.columns, sep='\n\n')

Index([0, 1, 2, 3, 4, 5], dtype='int64')

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

- 컬럼명 순서 변경 ==> '체육','미술','국어','수학','총합'

In [24]:
examDF.reindex([0,2,4,1,3,5], axis='index', fill_value=0)

     이름   국어  미술  수학  체육
0   마징가  100  44  77  77
2   슈퍼맨   88  66  66  33
4   마징가  100  50  60  77
1   배트맨   99  55  44  22
3  그린랜턴   57  75  22  44
5   마징가  100  87  77  87

In [23]:
examDF

     이름   국어  미술  수학  체육
0   마징가  100  44  77  77
1   배트맨   99  55  44  22
2   슈퍼맨   88  66  66  33
3  그린랜턴   57  75  22  44
4   마징가  100  50  60  77
5   마징가  100  87  77  87

- 컬럼명 순서 변경 ==> '체육','미술','국어','수학','총합' + 행인덱스 => 0,2,4,1,3,5

In [25]:
examDF.reindex(index=[0,2,4,1,3,5], columns=['체육','미술','국어','수학','총합'], fill_value=0)

   체육  미술   국어  수학  총합
0  77  44  100  77   0
2  33  66   88  66   0
4  77  50  100  60   0
1  22  55   99  44   0
3  44  75   57  22   0
5  87  87  100  77   0