## [HTML ==> DataFrame으로 저장]

### (1) 모듈 로딩

In [14]:
import pandas as pd

### (2) 데이터 준비

In [15]:
file='../DATA/test.html'

In [16]:
testDF=pd.read_html(file, encoding='utf8')

In [17]:
import lxml

In [18]:
print(testDF)

[    0      1   2
0  번호     이름  전공
1   1    홍길동  의적
2   2    마징가  로봇
3   4    베트맨  박쥐
4   5  스파이더맨  거미,      0     1   2
0  과일명    가격  수량
1   사과  1000  32
2  바나나  3000  10
3   수박  5800   2]